@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Playfair+Display:ital@0;1&display=swap");

:root {
  --AtomicSteelBlue: #013220;
  --SeagullBlue: #769abe;
  --TomatoOrange: #e46f44;
  --PinkShell: #e8aa9b;
  --PlumViolet: #dcd5dc;
  --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #9fa9d0 0%, #ffffff 100%);
  font-size: 12px;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s linear;
}

*::selection {
  background: #faf0e6;
  color: #fff;
}
h4 {
  font-size: 35px;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior:smooth;
  

}
html::-webkit-scrollbar {
  width: 0.8rem;
}

/* navigation bar start */
.banner {
  min-height: 100%;
  width: 100%;
  /* background: url("https://i.imgur.com/T57flD5.jpg"); */
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 10;
  /* position: fixed; */
}
.hamburger {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  height: 18px;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  z-index: 23;
  /* background-color: #000000; */
}
.hamburger__icon {
  display: inline-block;
  height: 2px;
  width: 24px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
}
.sidebar {
  height: 100vh;
  width: 25rem;
  background: linear-gradient(180deg, #043565 0%, #e1f8fe 100%);
    position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  transform: translatex(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 10;
}
.sidebar__close {
  position: absolute;
  top: 50%;
  right: -30px;
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatex(-100%);
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0.2s;
}
.sidebar__close::before,
.sidebar__close::after {
  content: "";
  height: 2px;
  background: #898989;
  width: 24px;
  display: block;
  position: absolute;
}
.sidebar__close::after {
  transform: rotate(90deg);
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #fff;
}
.sidebar__menu a {
  color: currentcolor;
  text-decoration: none;
  transform: translatex(-80%);
  transition: transform 0.4s ease-in-out;
}
.sidebar__menu a::before {
  content: "";
  height: 2px;
  /* background: #898989; */
  width: 120px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: translatex(-50%);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear;
}
.sidebar__menu a:hover::before {
  transform: translatex(0);
  opacity: 1;
}
.sidebar__menu a:nth-child(1) {
  transition-delay: 0.05s;
}
.sidebar__menu a:nth-child(2) {
  transition-delay: 0.1s;
}
.sidebar__menu a:nth-child(3) {
  transition-delay: 0.15s;
}
.sidebar__menu a:nth-child(4) {
  transition-delay: 0.2s;
}
.sidebar__menu a:nth-child(5) {
  transition-delay: 0.25s;
}
.sidebar__menu a:nth-child(6) {
  transition-delay: 0.3s;
}
.sidebar__menu a:nth-child(7) {
  transition-delay: 0.35s;
}


.menu-control {
  display: none;
}
.menu-control:checked + .sidebar {
  transform: translatex(0);
}
.menu-control:checked + .sidebar .sidebar__close {
  transform: translatex(0) rotate(45deg);
}
.menu-control:checked + .sidebar .sidebar__menu a {
  transform: translatex(0);
}

/* navigation bar end */

/* FULL SCREEN PICTURES SLIDER ENDS */

.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  /* font-family: Helvetica, Arial, sans-serif; */
}
.slider {
  position: relative;
  height: 100vh;
}
.slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: rgb(18, 23, 69);
  transition: background-color 0.3s;
  cursor: pointer;
  color: #000;
}
.slider__control--right {
  left: 95%;
}
.slider__control:hover {
  background-color: #f8ffda;
}
.slider__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
  color: #000;
}
.slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
  left: 37px;
  transform-origin: 1px 0;
  transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
  background-color: rgb(0, 0, 0);
}
.slider__control.a--rotation .slider__control-line:after {
  animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
  animation: arrowLineRotationRev 0.49s;
}
@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}
.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 100vh;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;

  transition: clip-path 0s 0.91s;
  clip-path: circle(30px at 120vw 50%);
}
.slide.s--prev {
  clip-path: circle(30px at 30vw 50%);
}
.slide.s--active {
  z-index: 1;
  transition: clip-path 1.3s;
  clip-path: circle(120vmax at 120vw 50%);
}
.slide.s--active.s--active-prev {
  clip-path: circle(120vmax at 30vw 50%);
}
.slide:nth-child(2) .slide__inner {
  background-image: url("https://images.unsplash.com/photo-1582142726343-02bd158bc4e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1233&q=80");
}
.slide:nth-child(1) .slide__inner {
  background-image: url("https://images.unsplash.com/photo-1448518340475-e3c680e9b4be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
}
.slide:nth-child(3) .slide__inner {
  background-image: url("https://images.unsplash.com/photo-1548882822-74c11d5bd8ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
}
.slide:nth-child(4) .slide__inner {
  background-image: url("https://images.unsplash.com/photo-1465189684280-6a8fa9b19a7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.slide:nth-child(5) .slide__inner {
  background-image: url("https://images.unsplash.com/photo-1621848296279-7751546e9acc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1190&q=80");
}
.slide__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
}
.slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.slide__content {
  position: absolute;
  left: 11%;
  top: 40%;
  margin-left: -30px;
  margin-top: 48px;
  max-width: 480px;
  color: #fff;
}
.slide__heading {
  margin-bottom: 20px;
  font-size: 60px;
  color: #ddd;
}
.slide__text {
  font-size: 25px;
}
.slide__text a {
  color: inherit;
}

/* FULL SCREEN PICTURES SLIDER ENDS */

/* DEMO-SPECIFIC STYLES */

/* fullscreen menu ends */

:root {
  --box-x-padding: 2rem;
  --box-y-padding: 2rem;
}

img {
  max-width: 100%;
  vertical-align: top;
}
.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 60rem;
  position: relative;
  padding-top: 66.6666666667%;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}
.gallery__img {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  align-items: center;
  justify-content: center;

}
.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}


/* bookinform start */
/* .form-container{
  margin-bottom: 10%;
} */

.form-container form {
  background: #043565;
  box-shadow: var(--box-shadow);
  border-radius: 55px;
  padding: 3rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-left: 11rem;
  margin-right: 11rem;
}
.form-container form .inputbox {
  flex: 1 1 23rem;
}
.form-container form .inputbox span {
  font-size: 1.7rem;
  color: #e8aa9b;
}
.form-container form .inputbox input {
  font-size: 1.7rem;
  color: rgb(53, 54, 53);
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-transform: none;
  width: 100%;
  padding: 1rem;
}
#btn {
  background: #165594;
  height: 50px;
  width: 19rem;
  border: none;
  color: #e8aa9b;
  font-size: 20px;
  /* font-family: 'Cookie', cursive; */
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  border-radius: 20%;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}


#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width:19rem;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}
/* bookinform ends */
.im img {
  width: 100vw;
}
/* Discover starts */

/* dicover ends */

.projcard-container {
  margin: 50px 0;
  margin-left: 4rem;
  margin-right:4rem ;
}

.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* MUST VIST DESTINATION PART STARTS */
.econtainer {
  width: 99vw;
  display: flex;
  flex-flow: row;
  height: 30vh;
}
.wrap2 h2 {
  font-size: 5rem;
}

.col {
  height: 100%;
  transition: transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 300ms ease;
  transform: translateZ(34px) scale(0.98);
  flex: 0 0 33.3333%;
  position: relative;
}

.col:nth-of-type(1) {
  transform: rotateY(5deg) translateZ(34px) scale(0.98);
}

.col:nth-of-type(3) {
  transform: rotateY(-5deg) translateZ(34px) scale(0.98);
}

.col:hover,
.col:focus {
  transform: translateZ(34px);
  transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 300ms ease;
}

.ecard-econtainer {
  position: relative;
  width: calc(100% - 25px);
  height: 100%;
  margin: 17px;
  padding: 8px;
  text-align: center;
  /* opacity: 0.89; */
}

.ecard-econtainer:hover,
.ecard-econtainer:focus {
  opacity: 1;
}

.overlay {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.overlay:nth-of-type(1) {
  left: 0;
  top: 0;
}

.overlay:nth-of-type(2) {
  right: 0;
  top: 0;
}

.overlay:nth-of-type(3) {
  bottom: 0;
  right: 0;
}

.overlay:nth-of-type(4) {
  bottom: 0;
  left: 0;
}

.overlay:nth-of-type(1):hover ~ .ecard,
.overlay:nth-of-type(1):focus ~ .ecard {
  transform-origin: right top;
  transform: rotateX(3deg) rotateY(-3deg) translateZ(0);
}

.overlay:nth-of-type(2):hover ~ .ecard,
.overlay:nth-of-type(2):focus ~ .ecard {
  transform-origin: left top;
  transform: rotateX(3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(3):hover ~ .ecard,
.overlay:nth-of-type(3):focus ~ .ecard {
  transform-origin: left bottom;
  transform: rotateX(-3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(4):hover ~ .ecard,
.overlay:nth-of-type(4):focus ~ .ecard {
  transform-origin: right bottom;
  transform: rotateX(-3deg) rotateY(-3deg) translateZ(0);
}

.ecard {
  border-radius: 5px;
  height: 100%;
  transition: all 300ms ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  /* opacity: 0.89; */
  padding: 13px 21px;
}

.ecard:before,
.ecard:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* opacity: 0.21; */
  transition: transform 300ms ease;
  transform: scale(0.98);
}

.ecard:before {
  background-size: cover;
  background-position: 50% 50%;
}

.ecard-econtainer:hover .ecard:before,
.ecard-econtainer:hover .ecard:after,
.ecard-econtainer:focus .ecard:before,
.ecard-econtainer:focus .ecard:after {
  /* opacity: 0.34; */
  transform: scale(1);
}

.col:nth-of-type(1) .ecard-econtainer:nth-of-type(1) .ecard:before {
  background-image: url("images/rathambore\ np.jpg");
}

.col:nth-of-type(2) .ecard-econtainer:nth-of-type(1) .ecard:before {
  background-image: url("images/qutubminar.jpeg");
}

.col:nth-of-type(3) .ecard-econtainer:nth-of-type(1) .ecard:before {
  background-image: url("images/Lotustemple.jpg");
}

.col:nth-of-type(1) .ecard-econtainer:nth-of-type(2) .ecard:before {
  background-image: url("images/humayunstomb.jpg");
}

.col:nth-of-type(2) .ecard-econtainer:nth-of-type(2) .ecard:before {
  background-image: url("images/gatewayofindia.jpg");
}

.col:nth-of-type(3) .ecard-econtainer:nth-of-type(2) .ecard:before {
  background-image: url("images/tajmahal.jpg");
}

.ecard:after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.89) 100%
  );
}

h6 {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  transform: translateY(30px);
  transition: transform 450ms cubic-bezier(0.39, 0.575, 0.565, 1);
  max-width: 320px;
  outline: 1px solid transparent;
  color: rgb(255, 255, 255);
}

.overlay:hover ~ .ecard h6,
.overlay:focus ~ .ecard h6 {
  transform: translateZ(144px);
}

.ecard > span {
  font-size: 34px;
  opacity: 0;
  transform: translateX(-3px);
  transition: all 300ms ease;
}

.ecard-econtainer:hover > .ecard > h6,
.ecard-econtainer:focus > .ecard > h6 {
  transform: translateY(-13px);
}

.ecard-econtainer:hover > .ecard > span,
.ecard-econtainer:focus > .ecard > span {
  opacity: 1;
  transform: translateX(3px);
  animation: slideRight 300ms ease;
}

/* MUST VISIT DESTINATION PART ENDS */

/* ILLUSTRATION PART */

.ibody {
  align-items: center;
  justify-content: center;
  display: flex;
}

.illustration {
  width: 100vw;
  height: 375px;
  display: flex;
  margin-top: 17px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.illustration .ibox {
 
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 8rem;
  margin-left: 8rem;
}
.ibody .illustration .ibox img {
  width: 200px;
  height: 200px;
  display: flex;
}
.ibody .illustration .ibox span {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.021em;
  font-weight: 900;
}


/* FEEDBACK OR CONTACT US PART CSS STARTS HERE */

.background {
  display: flex;
  min-height: 30vh;
}

.feedbckcontainer {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #043565;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #03274b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #faf0e6;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #faf0e6;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #faf0e6;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #faf0e6;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #faf0e6;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/* FEEDBACK CARD PART ENDS */

/* FOOTERRRR */

.footer {
  background-color: #08192a;
  margin: 0;
  padding: 0;
  width: 100%;
}
.fcontainer {
  max-width: 1170px;
  margin: auto;
}
.footer ul {
  list-style: none;
}
.frow {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h5 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.footer-col h5::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #faf0e6;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 12px;
  text-transform: capitalize;
  color: #f7f7e2;
  text-decoration: none;
  font-weight: 300;
  color: rgb(255, 255, 255);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000000;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: #faf0e6;
}
.newsletter-subscribe {
  color: #ffffff;
  /* background-color:#fff; */
  padding: 8px 0;
}

.newsletter-subscribe h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.newsletter-subscribe form {
  justify-content: center;
}

.newsletter-subscribe form .form-control {
  background: #ddd;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.newsletter-subscribe form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.newsletter-subscribe form .btn:hover {
  opacity: 1;
}

.newsletter-subscribe form .btn:active {
  transform: translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color: #dcd5dc !important;
  color: #faf0e6;
  outline: none !important;
}

/* FOOTER ENDS */

/* RESPONSIVE PART OF THE WEBSITE */

/* ABOUT USSSSSSSSSSSSSSS */

.abcontainer {
  filter: brightness(50%);
}
.abcontainer {
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: relative;
}
.abtextbox {
  width: 90%;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}
.colour-block {
  background: #043565;
  width: 100vw;
  padding: 7% 20% 10% 20%;
  color: #fff;
}
.white-block {
  background: #fff;
  width: 100vw;
  padding: 7% 20% 10% 20%;
  color: #36439a;
}
h1 {
  text-align: center;
  font-size: 80px;

  font-weight: normal;
}
p {
  font-size: 20px;
  /* font-family: "Raleway", serif; */
}

/*----------------*/
/*  SCALLOP down  */
/*----------------*/
.scallop-down {
  height: 100px;
  width: 100%;
  background: -webkit-gradient(
    radial,
    50% 0,
    10,
    50% 0,
    40,
    from(#043565),
    color-stop(0.49, #043565),
    color-stop(0.51, #fff),
    to(white)
  );
  background-size: 49px 100%;
}

/*----------------*/
/*  SCALLOP up    */
/*----------------*/
.scallop-up {
  height: 100px;
  width: 100%;
  background: -webkit-gradient(
    radial,
    50% 100%,
    10,
    50% 100%,
    40,
    from(#043565),
    color-stop(0.49, #043565),
    color-stop(0.51, #fff),
    to(white)
  );
  background-size: 49px 100%;
}

.thoughtbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  align-items: center;
  align-content: center;
}
.thoughtbox h2 {
  margin-left: 55rem;
  margin-right: 45rem;
  font-size: 3rem;
}
.thought {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666;
}
.thought:before,
.thought:after {
  content: "";
  background-color: rgb(7, 7, 7);
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}
.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px rgb(0, 0, 0);
}
.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 rgb(0, 0, 0), -28px -6px 0 -2px rgb(0, 0, 0),
    -24px 17px 0 -6px rgb(0, 0, 0), -5px 25px 0 -10px rgb(0, 0, 0);
}
/* ABOUT US PAGE CSS ENDS */

@media (min-width: 20em) {
  .image-left,
  .image-right {
    display: flex;
    align-items: center;
  }

  .image-left img {
    margin-right: 1em;
    float: left; /* fallback */
  }

  .image-right img {
    order: 1;
    margin-left: 1em;
    float: right; /* fallback */
  }

  /* clearfix for fallback */
  .image-left::after,
  .image-right::after {
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width: 30em) {
  .image-left img,
  .image-right img {
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  /*navbar responsive part*/
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #013220;
    border-top: 0.1rem solid #013220;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #faf0e6;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}

@media (min-width: 40em) {
  :root {
    --box-y-padding: 4rem;
  }
}
@media (min-width: 60em) {
  :root {
    --box-x-padding: 3rem;
    --box-y-padding: 6rem;
  }
}
@media (min-width: 40em) {
  .disci {
    display: grid;
    grid-template-rows: repeat(3, auto);
    /* grid-template-columns: 4fr 4fr 5fr; */
    grid-template-areas: ". . title" "img img content" "img img .";
    /* max-width: 1000px;
    margin-right: auto;
    margin-left: auto; */
  }
  .disci::after {
    content: "";
    grid-column: 2/-1;
    grid-row: 1/3;
    position: relative;
    z-index: -1;
    background: #fff;
    box-shadow: 0 0.2em 1em rgba(61, 48, 41, 0.2);
  }
  h1 {
    grid-area: title;
    /* padding-top: var(--box-y-padding); */
    padding-left: var(--box-x-padding);
  }
  .dcontent {
    grid-area: content;
    padding-bottom: var(--box-y-padding);
    padding-left: var(--box-x-padding);
    padding-right: var(--box-x-padding);
  }
  .img {
    grid-area: img;
  }
}
@media (min-width: 40em) {
  .disci h1::after {
    left: var(--box-x-padding);
    top: var(--box-y-padding);
  }
}
@media (min-width: 40em) {
  .dcontent {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
  h6 {
    font-size: 17px;
  }
}

@media (max-width: 540px) {
  .econtainer {
    flex-flow: column;
    perspective: none;
  }

  .col:nth-of-type(1),
  .col:nth-of-type(2),
  .col:nth-of-type(3),
  .col:hover {
    transform: none;
  }

  h6 {
    padding-bottom: 8px;
    font-size: 18px;
  }

  .ecard > span {
    display: none;
  }
}



@media (max-width: 860px) and (max-height: 540px) {
  h6 {
    font-size: 14px;
  }
}

@media (max-width: 620px) and (max-height: 540px) {
  h6 {
    font-size: 13px;
  }
}
@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .footer-col {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .abcontainer {
    display: block;
    width: 100%;
  }
  .abtextbox {
    top: 30%;
  }
  .image-left {
    width: 160%;
    margin: 0 auto;
  }
  .image-left p {
    padding: 0px 30px 20px;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
  }
  .image-right {
    width: 160%;
    margin: 0 auto;
  }
  .image-right p {
    padding: 0px 30px 20px;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
  }
}




.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #000;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #ccc;
  font-size: 22px;
  border-radius: 50%;
}